NEXT_PUBLIC_SUPABASE_URL=sb_secret_NKqcBpX6C5K9zFtqUmbB7Q_6DZclePz
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmZHVkbGZ3dmJucWx0anBwY2VwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NDQ5MzIsImV4cCI6MjA5MTQyMDkzMn0.77JJ3OQhofD4fsNUXjAjsf--6u8DLtS3cjo2r_YscrA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmZHVkbGZ3dmJucWx0anBwY2VwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTg0NDkzMiwiZXhwIjoyMDkxNDIwOTMyfQ.0h_U4WUvQjv6SVcDcyZHq5BhG6wX0Erqxo5VsBQ9D_s

NEXT_PUBLIC_APP_URL=http://localhost:3000

ADMIN_EMAILS=
ADMIN_USER_IDS=

PAYPACK_APP_ID=
PAYPACK_APP_SECRET=
PAYPACK_WEBHOOK_SECRET=

CRON_SECRET=
PUSH_SECRET=
NEXT_PUBLIC_VAPID_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=

RESEND_API_KEY=
